@import "../../node_modules/reveal.js/dist/reset.css";
@import "../../node_modules/reveal.js/dist/reveal.css";
@import "../../node_modules/reveal.js/dist/theme/white.css";
@import "../../node_modules/reveal.js/plugin/highlight/monokai.css";

/*********************************************
 * GLOBAL STYLES
 *********************************************/
$hr4youRed: #e41a0e;
$hr4youGray: #6e6a6a;

.reveal .slides section,
.reveal .slides section > section {
  text-align: left;
  font-size: smaller;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: $hr4youRed;
}

.reveal ul,
.reveal ul ul {
  list-style: none;
}

.reveal ul li::before {
  content: "\25B6";
  color: $hr4youRed;
  font-weight: bold;
  display: inline-block;
  width: 1.2em;
  margin-bottom: 1ex;
}

//.reveal ul,
//.reveal ol {
//}

.reveal table {
  margin-right: auto;
  margin-left: 0px;
}

.reveal table td {
  border-bottom: none;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: $hr4youGray;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  color: $hr4youRed;
  height: 5px;
}

/*********************************************
 * TOC HELPER
 *********************************************/
.reveal .tocitem,
.reveal .tocsubitem {
  color: $hr4youRed;
  font-weight: bold;
}
.reveal .tocsubitem {
  margin-left: 1em;
}
